/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
html {
		overflow-x: hidden;
}
@media screen and (max-width:1230px) {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
 }

@media screen and (max-width: 1160px) {
	.inner {
		width: 96%;
	}
}
@media screen and (max-width: 1024px) { 
	.owl-carousel .owl-item .item .flex-caption a ,
	.widget-title {
		font-size: 22px;
	}

}
@media screen and (max-width: 865px) {
	.menu-toggle {
		display: block;
	}
	.main-navigation ul {
		display: none;
	}
	.header-wrapper {
		padding: 20px 0;
	}
	.header-search #s {
		display: block;
		width: 100%;
		text-indent: 0;
		background-color: #293d4e;
		height: 46px;
	}
	.header-search {
		width: 50%;
		margin-right: -2.5%;
	}
	.search-form .submit {
		top: 7px;
	}

	.left-sidebar .feature-area .feature-sidebar {
    	float: none;
	}

	.left-sidebar .content-area {
		padding-left: 0;
	}

	.left-sidebar .single-area {
		padding-left: 20px;
	}

	.main-navigation {
		width: 50%;
	}
	.main-navigation a:hover {
		color: #1b2835;
		background-color: #fc9618;
	}
	.search-form .submit i {
		color: #929da9;
	}
	
	.main-navigation .menu-toggle {
    	display: block;
	}
	.main-navigation a.menu-toggle::before {
		content: "\f0c9";
		margin-right: 5px;
		font-family: FontAwesome;
	}
	.main-navigation a {
		padding: 10px 15px;
		text-transform: uppercase;
	}
	.post-item .entry-content p {
		display: none;
	}
	.single-area .entry-content p {
		display: block;
	}
	/*Mobile Navigation*/
	.mobile-only {
		display: block;
	}
	.mobile-menu-active #mobile-menu-wrapper {
    	transform: translate(0,0);
	}
	#page {
		transition: transform 500ms ease;
		position: relative;
		left: 0;
	}
	.mobile-menu-active #page {
		transform: translate(60%,0);
		position: fixed;
		left: : 0;
		width: 100%;
	}
	#mobile-menu-wrapper.wpadminbar-active {
		top: 45px;
	}
	#mobile-menu-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 60%;
		height: 100%;
		min-height: 100%;
		max-height: 100%;
		overflow: scroll;
		background: #fc9618;
		transform: translate(-100%,0);
		transition: transform 500ms ease;
		overflow-x: hidden;
		z-index: 9;
	}

	#mobile-menu-wrapper ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	#mobile-menu-wrapper ul li a {
		color: #1b2835;
		border-bottom: 1px solid #1b2835;
		padding: 12px 0;
		padding-left: 20px;
		line-height: 31px;
		font-size: 18px;
		text-indent: 15px;
		font-weight: 400;
		display: block;
	}
	#mobile-menu-wrapper .primary-menu > li.current-menu-item > a {
		background: #1b2835;
		color: #c8d0da;
	}
	/*Sub Mobile Menu*/
	.menu-item-has-children > a:after {
		content: none;
	}
	.menu-item-has-children {
		position: relative;
	}

	#mobile-menu-wrapper .arrow-menu {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		text-align: center;
		cursor: pointer;
		display: block;
		width: 54px;
		height: 54px;
		line-height: 54px;
		color: inherit;
		font-size: 18px;
		border-left: 1px solid #1b2835;
	}
	#mobile-menu-wrapper .arrow-menu .fa-plus:before {
		content: "\f055";
	}
	#mobile-menu-wrapper ul ul {
		display: none;
	}

	#mobile-menu-wrapper ul ul li a {
		background: #1b2835;
		color: #c8d0da;
		line-height: 20px;
		border-bottom: 1px solid #c8d0da;
		padding-left: 40px;
	}

	#mobile-menu-wrapper .arrow-menu .fa-minus:before {
		content: "\f056";
	}
}

@media screen and (max-width: 768px) {
	.feature-wrap {
		width: 100%;
	}
	.feature-area .feature-sidebar {
		width: 100%;
		margin: 0 auto;
		float: none;
	}
	.feature-area .feature-sidebar .widget {
		padding-top: 20px;
	}
	.content-area {
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
	}

	.single-area {
		padding-right: 20px;
	}

	.content-wrap .widget-area {
		float: none;
		width: 100%;
		margin: 0 auto;
		padding-top: 20px;
		overflow: hidden;
		background: #1b2835;
	}
	.post-item .entry-content p {
		display: block;
	}
	.content-wrap::before {
		background: transparent;
	}
	.col-3 {
		width: 50%;
	}
	.column-3 {
		clear: left;
	}
}

@media screen and (max-width: 640px) {	 
	.logo a {
		float: none;
	}
	.custom-logo-link {
		float: none;
	}
	.post-item .entry-content p {
		display: none;
	}
	.single-area .entry-content p {
		display: block;
	}
	.site-branding .site-title {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.social-navigation {
		width: 100%;
		text-align: center;
	}
	.social-navigation ul li {
		float: none;
		display: inline-block;
	}

}

@media screen and (max-width: 550px) {	
	.post-grid .entry-content p {
		display: none;
	}

	.social-navigation li a:before,
	.footer-widget ul li a:before {
    	line-height: 30px;
	}
	.social-navigation a,
	.footer-widget ul li a {
		width: 30px;
	}
}

@media screen and (max-width: 480px) {

	.post-grid .entry-content p {
		display: block;
	}

	.post-wrapper .post-grid {
		width: 100%;
	}

	.post-wrapper .post-grid:nth-child(odd) {
		margin-right: 0;
	}

	.post-wrapper .post-grid:nth-child(even) {
		margin-left: 0;
	}

	.post-item {
		padding: 20px;
	}
	.post-item .post-thumbnail,
	.post-item .post-thumbnail a, 
	.post-item .post-thumbnail a img {
		width: 100%;
	}
	.post-item .entry-content p {
		display: block;
	}

	.post-item .post-thumbnail a img {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-bottom: 10px;
	}
	.col-3 {
		width: 100%;
	}
	.footer-widget ul li a:before {
		line-height: 40px;
	}
	.footer-widget ul li a {
		width: 40px;
	}
}