/*!
Theme Name: hongblog
Theme URI: http://underscores.me/
Author: ThemeCountry
Author URI: https://themecountry.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hongblog
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

hongblog is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html,
body,
div, 
span,
h1, h2, h3, h4, h5, h6,
p, 
blockquote, pre, a,
address, big, 
code, del, dfn, em, img, ins,
q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u,
i, dl, dt, dd, ol, ul, li,
form, label, legend, table,
caption, tbody, tfoot, thead, tr, th,
td, article, aside, 
embed, figure, figcaption, footer, header,
nav, section, summary, 
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

.sticky{

}

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
	background: #f7f8f9;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	color: #666666;
	font-size: 14px;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.3;
	color: #333333;
	margin-bottom: 20px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 0 0 18px;
	line-height: 24px;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}


hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #fc9618;
	text-decoration: none;
	transition: all .25s ease;
}

a:hover, a:focus, a:active {
	text-decoration: none;
}

::selection {
    background: #fc9618;
    color: #333;
    text-shadow: none;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
}
 .post-navigation .nav-previous a {
 	text-align: left;
 }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

.clearfix {
	display: block;
}

.clearfix:before {
	content: "";
	display: table;
	table-layout: fixed;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
	float: left;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
.inner {
	max-width: 1160px;
	margin-right: auto;
	margin-left: auto;
	transition: all 0.3s ease;
}

/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/

.social-navigation li a:before {
	content: '\f005';
	font-size: 14px;
	font-family: 'FontAwesome';
	line-height: 30px;
}

/*--------------------------------------------------------------
## Site Header and Social Navigation
--------------------------------------------------------------*/

.header-wrapper {
	background-color: #1b2835;
	width: 100%;
	position: relative;
	padding: 32px 0;
}

.site-branding h1, .site-branding h2 {
	margin-bottom: 0;
}

.site-branding h2, .site-branding h3 {
	margin-bottom: 0;
}

.logo {
	margin: 0;
	font-size: 20px;
}

.logo a img {
	float: left;
	width: 170px;
}

.logo, .logo a, .logo a img {
	float: left;
}

/* No logo*/

.site-title {
	float: left;
}

h1.title-logo, h2.title-logo {
	margin: 0;
	font-size: 22px;
	text-transform: capitalize;
}

h2.title-description , h3.title-description{
	font-size: 14px;
	color: #fff;
	font-weight: 300;
}

/*Socical Navigation*/

.social-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-navigation {
	float: right;
}

.social-navigation ul li {
	float: left;
}

.social-navigation li a[href*="facebook.com"] {
	background-color: #293d4e;
}

.social-navigation li a[href*="facebook.com"]:before {
	content: '\f09a';
}

.social-navigation li a[href*="twitter.com"] {
	background-color: #293d4e;	
}

.social-navigation li a[href*="twitter.com"]:before {
	content: '\f099';
}

.social-navigation li a[href*="instagram.com"] {
	background-color: #293d4e;	
}

.social-navigation li a[href*="instagram.com"]:before {
	content: '\f16d';
}

.social-navigation li a[href*="youtube.com"] {
	background-color: #293d4e;	
}

.social-navigation li a[href*="youtube.com"]:before {
	content: '\f16a';
}

.social-navigation li a[href*="plus.google.com"] {
	background-color: #293d4e;	
}

.social-navigation li a[href*="plus.google.com"]:before {
	content: '\f0d5';
}

.social-navigation li a[href*="pinterest.com"] { background: #C92228; }
.social-navigation li a[href*="linkedin.com"] { background: #0e76a8; }
.social-navigation li a[href*="codepen.io"] { background: #212121; }
.social-navigation li a[href*="digg.com"] { background: #005be2; }
.social-navigation li a[href*="dribbble.com"] { background: #C73B6F; }
.social-navigation li a[href*="flickr.com"] { background: #ff0084; }
.social-navigation li a[href*="github.com"] { background: #333; }
.social-navigation li a[href*="getpocket.com"] { background: #d3505a; }
.social-navigation li a[href*="reddit.com"] { background: #5f99cf; }
.social-navigation li a[href*="spotify.com"] { background: #2ebd59; }
.social-navigation li a[href*="skype.com"],
.social-navigation li a[href*="skype:"] { background: #00aff0; }
.social-navigation li a[href*="stumbleupon.com"] { background: #eb4924; }
.social-navigation li a[href*="tumblr.com"] { background: #35465c; }
.social-navigation li a[href*="vimeo.com"] { background: #1ab7ea; }
.social-navigation li a[href*="twitch.tv"] { background: #0e9dd9; }
.social-navigation li a[href*="wordpress.org"],
.social-navigation li a[href*="wordpress.com"] { background: #21759b; }
.social-navigation li a[href*="/feed"],
.social-navigation li a[href*="/feed/"],
.social-navigation li a[href*="?feed=rss2"],
.social-navigation li a[href*="feedburner.google.com"],
.social-navigation li a[href*="feedburner.com"] { background: #f67c1a; }

.social-navigation li a:before { content: '\f005'; } /* Default Icon */
.social-navigation li a[href*="codepen.io"]:before { content: '\f1cb'; }
.social-navigation li a[href*="digg.com"]:before { content: '\f1a6'; }
.social-navigation li a[href*="dribbble.com"]:before { content: '\f17d'; }
.social-navigation li a[href*="flickr.com"]:before { content: '\f16e'; }
.social-navigation li a[href*="github.com"]:before { content: '\f09b'; }
.social-navigation li a[href*="linkedin.com"]:before { content: '\f0e1'; }
.social-navigation li a[href*="pinterest.com"]:before { content: '\f0d2'; }
.social-navigation li a[href*="getpocket.com"]:before { content: '\f265'; }
.social-navigation li a[href*="reddit.com"]:before { content: '\f1a1'; }
.social-navigation li a[href*="spotify.com"]:before { content: '\f1bc'; }
.social-navigation li a[href*="skype.com"]:before,
.social-navigation li a[href*="skype:"]:before { content: '\f17e'; }
.social-navigation li a[href*="stumbleupon.com"]:before { content: '\f1a4'; }
.social-navigation li a[href*="tumblr.com"]:before { content: '\f173'; }
.social-navigation li a[href*="twitch.tv"]:before { content: '\f1e8'; }
.social-navigation li a[href*="twitter.com"]:before { content: '\f099'; }
.social-navigation li a[href*="vimeo.com"]:before { content: '\f27d'; }
.social-navigation li a[href*="wordpress.org"]:before { content: '\f19a'; }
.social-navigation li a[href*="wordpress.com"]:before { content: '\f19a'; }
.social-navigation li a[href*="newsletter"]:before,
.social-navigation li a[href*="mailto"]:before { content: '\f003'; }
.social-navigation li a[href*="/feed"]:before,
.social-navigation li a[href*="/feed/"]:before,
.social-navigation li a[href*="?feed=rss2"]:before,
.social-navigation li a[href*="feedburner.google.com"]:before,
.social-navigation li a[href*="feedburner.com"]:before { content: '\f09e'; }

.social-navigation a {
	color: #929da9;
	margin: 0 10px 0 0;
	width: 40px;
	float: left;
	border-radius: 3px;
	text-align: center;
	font-size: 0;
}

.social-navigation a:hover{
	color: #fff;
}

.social-navigation li a[href*="facebook.com"]:hover {
	background-color: #2F609C;
} 

.social-navigation li a[href*="twitter.com"]:hover {
	background-color: #1da1f2;
}

.social-navigation li a[href*="instagram.com"]:hover {
 	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}	

.social-navigation li a[href*="youtube.com"]:hover {
	background-color: #cc181e;
}

.social-navigation li a[href*="plus.google.com"]:hover {
	background-color: #D24231;
}


.social-menu li:last-child a {
	margin-right: 0;
}

.social-navigation li a:before {
	line-height: 40px;
	font-size: 20px;
}

/*--------------------------------------------------------------
## Top Menu
--------------------------------------------------------------*/

.main-menu {
	background-color: #fc9618;
}

.main-navigation {
	width: 78%;
}

.main-navigation .menu-toggle {
	display: none;
}

.main-navigation a {
	color: #1b2835;
	padding: 15px;
	font-size: 18px;
	font-weight: 400;
}

.main-navigation a:hover {
	color: #c8d0da;
	background-color: #1b2835;
}

.main-navigation ul li:hover a {
	background-color: #1b2835;
	color: #c8d0da;
}

.main-navigation ul ul li:hover > a {
	color: #fc9618;
}

.main-navigation .primary-menu > li.current-menu-item > a {
	background: #1b2835;
	color: #c8d0da;
}

/*--------------------------------------------------------------
## Header Search
--------------------------------------------------------------*/

.header-search {
	width: 22%;
	float: right;
}

.search-form {
	position: relative;
}

.search-form .submit {
	position: absolute;
}

#s::placeholder {
	color: #c8d0da;
}

#s {
	color: #c8d0da;
	padding: 0 10px;
	width: 30px;
	height: 55px;
	background: transparent;
	text-indent: 500px;
	border: 0;
	border-radius: 0;
	float: right;
	transition: all .4s cubic-bezier(0.18,0.89,0.32,1.28);
	outline: none;
}

.search-form .submit {
	top: 10px;
	right: 0;
	width: 50px;
	z-index: 10;
	border: 0;
	cursor: pointer;
	background: transparent;
	transition: all .25s linear;
}

.search-form .submit i {
	font-size: 16px;
	color: #1b2835;
}

.header-search:hover #s {
	display: block;
	width: 100%;
	text-indent: 0;
    background-color: #293d4e;
}

.header-search:hover .submit i {
	color: #929da9;
}

/*--------------------------------------------------------------
## Sub Menu
--------------------------------------------------------------*/

.main-navigation ul ul a {
	background-color: #1b2835;
    color: #c8d0da;
    font-size: 16px;
    padding: 5px 15px;
}

.main-navigation ul ul a:hover {
	color: #fc9618;
}

.menu-item-has-children > a:after {
	content: "\f107";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: 5px;
}

ul ul li.menu-item-has-children > a:after {
	content: "\f105";
	right: 10px;
	position: absolute;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer {
	background-color: #1b2835;
	padding-top: 20px;
}

.col-3 {
	width: 33.33333333%;
	float: left;
	padding: 0 10px;
	position: relative;
	box-sizing: border-box;
}

.widget {
	color: #c8d0da;
	line-height: 1.45;
}

.widget h2 {
	color: #fff;
}

.tagcloud a {
	float: left;
	font-size: 16px!important;
	font-weight: 600;
	line-height: 32px;
	padding: 0 15px;
	margin-bottom: 10px;
	margin-right: 10px;
	background: #fc9618;
	color: #1b2835;
	transition: all .25s linear;
}

.tagcloud a:hover {
	opacity: 0.9;
}

.footer-widget ul li a:before {
	content: '\f005';
	font-size: 14px;
	font-family: 'FontAwesome';
	line-height: 30px;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-widget ul li {
	float: left;
}

.footer-widget ul li a[href*="facebook.com"] {
	background-color: #293d4e;
}

.footer-widget ul li a[href*="facebook.com"]:before {
	content: '\f09a';
}

.footer-widget ul li a[href*="twitter.com"] {
	background-color: #293d4e;	
}

.footer-widget ul li a[href*="twitter.com"]:before {
	content: '\f099';
}

.footer-widget ul li a[href*="instagram.com"] {
	background-color: #293d4e;	
}

.footer-widget ul li a[href*="instagram.com"]:before {
	content: '\f16d';
}

.footer-widget ul li a[href*="youtube.com"] {
	background-color: #293d4e;	
}

.footer-widget ul li a[href*="youtube.com"]:before {
	content: '\f16a';
}

.footer-widget ul li a[href*="plus.google.com"] {
	background-color: #293d4e;	
}

.footer-widget ul li a[href*="plus.google.com"]:before {
	content: '\f0d5';
}

.footer-widget ul li a {
	color: #929da9;
	margin: 0 10px 0 0;
	width: 40px;
	float: left;
	border-radius: 3px;
	text-align: center;
	font-size: 0;
}

.footer-widget ul li a[href*="pinterest.com"] { background: #C92228; }
.footer-widget ul li a[href*="linkedin.com"] { background: #0e76a8; }
.footer-widget ul li a[href*="codepen.io"] { background: #212121; }
.footer-widget ul li a[href*="digg.com"] { background: #005be2; }
.footer-widget ul li a[href*="dribbble.com"] { background: #C73B6F; }
.footer-widget ul li a[href*="flickr.com"] { background: #ff0084; }
.footer-widget ul li a[href*="github.com"] { background: #333; }
.footer-widget ul li a[href*="getpocket.com"] { background: #d3505a; }
.footer-widget ul li a[href*="reddit.com"] { background: #5f99cf; }
.footer-widget ul li a[href*="spotify.com"] { background: #2ebd59; }
.footer-widget ul li a[href*="skype.com"],
.footer-widget ul li a[href*="skype:"] { background: #00aff0; }
.footer-widget ul li a[href*="stumbleupon.com"] { background: #eb4924; }
.footer-widget ul li a[href*="tumblr.com"] { background: #35465c; }
.footer-widget ul li a[href*="vimeo.com"] { background: #1ab7ea; }
.footer-widget ul li a[href*="twitch.tv"] { background: #0e9dd9; }
.footer-widget ul li a[href*="wordpress.org"],
.footer-widget ul li a[href*="wordpress.com"] { background: #21759b; }
.footer-widget ul li a[href*="/feed"],
.footer-widget ul li a[href*="/feed/"],
.footer-widget ul li a[href*="?feed=rss2"],
.footer-widget ul li a[href*="feedburner.google.com"],
.footer-widget ul li a[href*="feedburner.com"] { background: #f67c1a; }

.footer-widget ul li a:before { content: '\f005'; } /* Default Icon */
.footer-widget ul li a[href*="codepen.io"]:before { content: '\f1cb'; }
.footer-widget ul li a[href*="digg.com"]:before { content: '\f1a6'; }
.footer-widget ul li a[href*="dribbble.com"]:before { content: '\f17d'; }
.footer-widget ul li a[href*="flickr.com"]:before { content: '\f16e'; }
.footer-widget ul li a[href*="github.com"]:before { content: '\f09b'; }
.footer-widget ul li a[href*="linkedin.com"]:before { content: '\f0e1'; }
.footer-widget ul li a[href*="pinterest.com"]:before { content: '\f0d2'; }
.footer-widget ul li a[href*="getpocket.com"]:before { content: '\f265'; }
.footer-widget ul li a[href*="reddit.com"]:before { content: '\f1a1'; }
.footer-widget ul li a[href*="spotify.com"]:before { content: '\f1bc'; }
.footer-widget ul li a[href*="skype.com"]:before,
.footer-widget ul li a[href*="skype:"]:before { content: '\f17e'; }
.footer-widget ul li a[href*="stumbleupon.com"]:before { content: '\f1a4'; }
.footer-widget ul li a[href*="tumblr.com"]:before { content: '\f173'; }
.footer-widget ul li a[href*="twitch.tv"]:before { content: '\f1e8'; }
.footer-widget ul li a[href*="twitter.com"]:before { content: '\f099'; }
.footer-widget ul li a[href*="vimeo.com"]:before { content: '\f27d'; }
.footer-widget ul li a[href*="wordpress.org"]:before { content: '\f19a'; }
.footer-widget ul li a[href*="wordpress.com"]:before { content: '\f19a'; }
.footer-widget ul li a[href*="newsletter"]:before,
.footer-widget ul li a[href*="mailto"]:before { content: '\f003'; }
.footer-widget ul li a[href*="/feed"]:before,
.footer-widget ul li a[href*="/feed/"]:before,
.footer-widget ul li a[href*="?feed=rss2"]:before,
.footer-widget ul li a[href*="feedburner.google.com"]:before,
.footer-widget ul li a[href*="feedburner.com"]:before { content: '\f09e'; }

.footer-widget ul a:hover{
	color: #fff;
}

.footer-widget ul li a[href*="facebook.com"]:hover {
	background-color: #2F609C;
} 

.footer-widget ul li a[href*="twitter.com"]:hover {
	background-color: #1da1f2;
}

.footer-widget ul li a[href*="instagram.com"]:hover {
 	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}	

.footer-widget ul li a[href*="youtube.com"]:hover {
	background-color: #cc181e;
}

.footer-widget ul li a[href*="plus.google.com"]:hover {
	background-color: #D24231;
}

.footer-widget ul li a:before {
	line-height: 40px;
	font-size: 20px;
}

/*--------------------------------------------------------------
## Footer Wrap
--------------------------------------------------------------*/

.footer-wrap {
	text-align: center;
	margin-bottom: 20px;
	color: #c8d0da;
}

.footer-wrap .site-info {
	font-weight: 300;
}

.footer-wrap a {
	color: #c8d0da;
}

.footer-wrap a:hover {
	color: #fc9618;
}

.widget-title {
	font-size: 25px;
    font-weight: 400;
}

/*--------------------------------------------------------------
## Widget Area
--------------------------------------------------------------*/

.widget-area { 
	float: right;
    width: 32.50%;
    max-width: 377px;
    position: relative;
    padding: 40px 38px;
}

.widget {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
}

.widget .search-field {
	width: 100%;
	border-radius: 0;
	padding: 10px 90px 10px 15px;
    font-size: 13px;
	outline: none;
}

.widget_search input[type="submit"] {
	background-color: #fc9618;
	color: #1b2835;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	padding: 11px 15px;
	font-size: 15px;
    font-weight: 400;
	text-transform: uppercase;
	transition: all .2s linear;
	position: absolute;
	top: 0;
	right: 0;
	border-left: 2px solid;
}

/*Widget Recent Posts*/
#secondary .post-img {
	float: left;
	margin-left: 0;
	margin-right: 20px;
	margin-bottom: 0;
	border-radius: 3px;
}

#secondary .post-img a ,
#secondary .post-img a img {
	float: left;
}

#secondary .post-data {
	overflow: hidden;
}

#secondary .post-data a {
	font-size: 15px;
	font-weight: 600;
}

#secondary .post-meta {
	font-size: 12px;
	color: #727d8e;
	padding-top: 5px;
}

#secondary .post-data .post-meta span {
	position: relative;
	margin-right: 10px; 
}

#secondary .post-data p {
	padding-top: 5px;
}

#secondary .post-data .post-meta span:nth-child(even):before {
	content: '/';
	position: absolute;
	font-size: 13px;
	top: -2px;
	left: -8px;
}

.widget-area .widget .have-thumbnail li {
	border-bottom: 1px solid rgba(245, 245, 245, 0.1);
	margin-top: 20px;
	padding-bottom: 20px;
}

.widget-area .widget .have-thumbnail li:last-child {
	border-bottom: none;
}

/*Widget Categories*/

.widget_categories ul {
	margin: 0;
}

.widget_categories ul li {
	list-style: none;
}

.widget_categories ul li a {
	float: left;
	font-size: 16px!important;
	font-weight: 600;
	line-height: 32px;
	padding: 0 15px;
	margin-bottom: 10px;
	margin-right: 10px;
	background: #fc9618;
	color: #1b2835;
	transition: all .25s linear;
}

.widget-area .widget_categories ul li a:hover {
	color: #fff;
}

/*Widget Header*/

.widget-area h2 {
	padding-bottom: 10px;
}

.widget-area h2::before {
	content: '';
	display: block;
	width: 56px;
	height: 2px;
	background-color: #fc9618;
	position: absolute;
	left: 0;
	bottom: 0;
}

.widget-title {
	position: relative;
}

.widget-area .widget:last-child {
	margin-bottom: 0;
}

.widget-area .widget ul li {
	list-style: none;
}

.widget-area .widget ul {
	margin: 0;
}

.widget-area .widget ul li a:hover {
	color: #c8d0da;
}

.widget-area .widget_categories ul li a:hover {
	color: #1b2835;
	opacity: 0.9;
}

/*Widget Calendar*/

.widget-area .widget_calendar {
	color: #fff;
}

#wp-calendar {
	margin-bottom: 0;
	background: rgba(0,0,0,0.2);
	border: 0;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

#calendar_wrap table {
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
} 

#wp-calendar caption {
	padding-bottom: 10px;
	padding-top: 12px;
	font-weight: 400;
	font-size: 15px;
	color: #FFF;
	text-transform: uppercase;
	background: rgba(0,0,0,0.5);
	padding: 12px 15px;
	text-align: center;
}

#calendar_wrap table thead {
	background: rgba(0,0,0,0.19);
	font-size: 14px;
	color: #585F65;
}

#wp-calendar thead th {
	padding: 10px 0;
	text-align: center;
}

#wp-calendar #prev {
	text-align: left;
	padding-left: 12px;
}

#wp-calendar td {
	text-align: center;
	padding: 7px 0;
	border-top: transparent;
	border-right: transparent;
}

#wp-calendar tbody tr:nth-child(1) td {
	border-top: 0;
}

#wp-calendar td#today {
	background-color: #fc9618;
	color: #1b2835;
}

#wp-calendar td#today a {
	color: #1b2835;
}

/* Widget Archive*/

.widget_archive select {
	width: 100%;
	padding: 5px;
	background: #fc9618;
	color: #1b2835;
	font-size: 15px;
	font-weight: 600;
	border: none;
	outline: none;
}

/*--------------------------------------------------------------
## Content Area
--------------------------------------------------------------*/

.content-wrap {
	float: left;
	width: 100%;
	position: relative;
	clear: both;
}

.single-post .content-wrap {
	background-color: #fff;
}

.content-wrap::before {
	content: "";
	background: #1b2835;
	position: absolute;
	top: 0;
	width: 32.5%;
	height: 100%;
	right: 0;
}

.site-content {
	margin: 20px 0;
}

.content-area {
	float: left;
	width: 67.50%;
	max-width: 783px;
	padding-right: 20px;
	position: relative;
}

.content-area .entry-content p {
	margin: 0;
}

/*--------------------------------------------------------------
## Move to top
--------------------------------------------------------------*/

#move-to-top {
	background-color: #fc9618;
	color: #1b2835;
	position: fixed;
	width: 35px;
	height: 35px;
	z-index: 101;
	right: 20px;
	bottom: 64px;
	text-align: center;
	/*border-radius: 50%;*/
	transition: all .25s linear;
}

#move-to-top .fa-angle-up {
	font-size: 20px;
	line-height: 35px;
}


/*--------------------------------------------------------------
## Feature Area
--------------------------------------------------------------*/

.feature-area { 
	background: #fff;
	width: 100%;
	float: left;
	max-width: 1160px;
	margin-bottom: 20px;
	border: 2px solid #fc9618;
    padding: 25px;
}

.feature-area .feature-sidebar {
	width: 30.358%;
	padding: 0;
}

.feature-area .widget-area .widget .have-thumbnail li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.feature-area .widget-area .widget .have-thumbnail li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.feature-area .widget-area .widget .have-thumbnail li:first-child {
	margin-top: 0;
}

.feature-area .widget-area .widget .have-thumbnail li a:hover {
	color: #1b2835;
}

.feature-wrap {
	width: 66.072%;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 9;
}

/*--------------------------------------------------------------
## Slide
--------------------------------------------------------------*/

.loading:before {
    content: 'Loading Slider...';
    display: block;
    margin: 0;
    text-align: center;
    color: #fc9618;
    font-size: 15px;
}

.owl-carousel .owl-item .item {
	position: relative;
} 

.owl-carousel .owl-item .item .flex-caption {
	position: absolute;
	bottom: -19px;
	background: rgba(0,0,0,.7);
	padding: 20px 15px;
	left: 0;
	right: 0;
} 

.owl-carousel .owl-item .item .flex-caption a {
	color: #fff;
	font-size: 25px;
}

.owl-controls .owl-nav .owl-prev {
	left: 0;
}

.owl-controls .owl-nav .owl-prev::before {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size: 30px;
}

.owl-controls .owl-nav .owl-next {
	right: 0;
}

.owl-controls .owl-nav .owl-next:before {
	content: "\f105";
	font-family: 'FontAwesome';
	font-size: 30px;
}

.owl-controls .owl-nav .owl-next, .owl-controls .owl-nav .owl-prev {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	text-align: center;
	font-size: 0;
	width: 40px;
	color: #fff;
	background-color: rgba(0,0,0,.7);
}

/*--------------------------------------------------------------
## Post List Thumbnails
--------------------------------------------------------------*/

.post-item .post-thumbnail {
	float: left;
	margin-right: 20px;
 }

 .post-item .post-thumbnail a, .post-item .post-thumbnail a img {
 	float: left;
 }

/* .site-main .post-thumbnail a img {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
 }*/

.post-item .entry-title,
.post-grid .entry-title {
	font-size: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
}

.post-item .entry-title a:hover,
.post-grid .entry-title a:hover {
	border-bottom: 1px dashed;
	color: #fc9618;
}

.post-item .entry-content,
.post-grid .entry-content {
	margin-top: 10px;
	overflow: hidden;
}

.post-item .entry-meta,
.post-grid .entry-meta  {
	font-size: 13px;
	color: #727d8e;
}

.post-item {
	margin-bottom: 30px;
	padding-right: 10px;
	background: #fff;
	box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    /*border-radius: 5px;*/
    transition: box-shadow .25s ease-out;
    float: left;
    width: 100%;
}

.post-item:hover,
.post-wrapper .post-grid:hover {
	box-shadow: 0 2px 2px 0 rgba( 252, 150, 24, 0.75 );
}


/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/

.pagination {
	width: 100%;
	float: left;
}

.nav-links {
	text-align: center;
	font-size: 17px;
}

.pagination .nav-links span {
	background-color: #fc9618;
	color: #1b2835;
}

.pagination .nav-links a,
.pagination .nav-links span {
	width: 40px;
	line-height: 40px;
	display: inline-block;
	margin-left: -1px;
}

.pagination .nav-links a {
    background-color: #1b2835;
    color: #c8d0da;
}

.pagination .nav-links .next {
	float: right;
}

.pagination .nav-links .prev {
	float: left;
}

.pagination .nav-links span.dots {
	color: #1b2835;
	background: none;
}

.pagination .nav-links a:hover {
	background-color: #fc9618;
	color: #1b2835;
}

.posts-navigation .nav-links .nav-next {
	float: right;
}

.posts-navigation .nav-links .nav-previous {
	float: left;
}

.posts-navigation .nav-links .nav-next a,
.posts-navigation .nav-links .nav-previous a {
    background-color: #1b2835;
    color: #c8d0da;
	padding: 5px 15px;
	display: inline-block;
	border-radius: 5px;
}

.posts-navigation .nav-links .nav-next a:hover,
.posts-navigation .nav-links .nav-previous a:hover {
	background-color: #fc9618;
	color: #1b2835;
}

.page-links {
	display: inline-block;
}

/*--------------------------------------------------------------
## Single Category
--------------------------------------------------------------*/

.site-main .page-header h1.page-title {
	font-size: 17px;
	background: #FFF;
	color: #fc9618;
	/*border-radius: 5px;*/
	text-transform: uppercase;
	padding: 10px 15px;
	box-shadow: 0 2px 2px 0 rgba( 252, 150, 24, 0.75 );
	font-weight: 400;
}

/*--------------------------------------------------------------
## Single Area
--------------------------------------------------------------*/

.single-area {
	background-color: #fff;
	padding: 20px;
}

.site-main h1.single-title {
	font-size: 28px;
}

.post-navigation .nav-previous a:before {
	content: '\f104';
	left: 0;
}

.post-navigation .nav-next a:after {
	content: '\f105';
	right: 0;

}

.post-navigation .nav-previous a:before,
.post-navigation .nav-next a:after {
	font-family: 'FontAwesome';
	position: absolute;
}

.post-navigation .nav-previous a {
	padding-left: 15px;
}

.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover {
	color: #1b2835;
}

.post-navigation .nav-next a {
	padding-right: 15px;
}

.post-navigation .nav-previous, .post-navigation .nav-next {
	width: 40%;
}

.post-navigation .nav-previous {
    float: left;
}

.post-navigation .nav-next {
	float: right;
}

.post-navigation .nav-previous a, .post-navigation .nav-next a {
	white-space: nowrap;
	display: block;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post .entry-header .entry-meta span {
	margin-right: 10px;
}

.post .entry-header .entry-meta span .author {
	margin-right: 0;
}

.post .entry-header .entry-meta span a:hover {
	border-bottom: 1px dashed #fc9618;
}

.post .entry-header .entry-meta span i {
	margin-right: 5px;
	color: #1b2835;
}

.post-item .entry-header .entry-meta span i {
	color: #1b2835;
}

/*--------------------------------------------------------------
## Comment Area
--------------------------------------------------------------*/

.comments-area .comment-reply-title {
	font-size: 20px;
	color: #1b2835;
}

.comments-area .comment-reply-title small {
	float: right;	
}

.comments-area .comment-reply-title small a {
	font-weight: 400;
}

.comments-area .comment-form .form-submit input {
	background-color: #fc9618;
	float: left;
	padding: 0 25px;
	font-size: 16px;
	width: auto;
	height: 42px;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .2s linear;
}

#commentform textarea {
	width: 100%;
	line-height: 1.25;
	min-height: 180px;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	box-sizing: border-box;
	padding: 8px 12px;
	font-size: 14px;
	outline: none;
}

#commentform p.comment-form-author, 
#commentform p.comment-form-email, 
#commentform p.comment-form-url {
	width: 47.5%;
	max-width: 347px;
	margin-right: 5%;
	clear: none;
}

#commentform p {
	width: 100%;
	margin-bottom: 15px;
	float: left;
}

.comments-area p input {
	width: 100%;
	height: 56px;
	padding: 15px 0;
	line-height: 1.25;
	box-sizing: border-box;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	outline: none;
}

#commentform p.comment-form-email {
	margin-right: 0;
}

.comments-area .comments-title {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background: #e9eef1;
	font-weight: 400;
	line-height: 1.4;
	box-sizing: border-box;
	transition: all .25s ease;
}
.comments-area .comment-list {
	list-style: none;
	margin-left: 0;
}

.vcard img.avatar {
	margin-right: 15px;
	float: left;
	border-radius: 3px;
}

.comment-list .children {
	width: 100%;
	list-style: none;
	padding-left: 60px;
	float: left;
	margin: 0;
}

.comment-list .comment {
	width: 100%;
	float: left;
}

.comment-list .comment-metadata {
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.comment-list .comment-body .comment-content p {
	margin-bottom: 0;
}

.comment-list .comment-body .reply {
	padding-left: 95px;
}

.comment-list .comment-body {
	padding-bottom: 25px;
}

.comment-list .comment-content {
	overflow: hidden;
}

/*--------------------------------------------------------------
## Error 404
--------------------------------------------------------------*/

.not-found .page-content .search-field {
	border: 0;
	width: 300px;
	outline: none;
	border-radius: 0;
	padding: 12px;
	font-size: 15px;
}

.not-found .page-content .search-submit {
	background-color: #fc9618;
	color: #1b2835;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	padding: 13px 18px;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	transition: all .2s linear;
	top: 0;
	right: 0;
}


/*--------------------------------------------------------------
## Sticky Menu
--------------------------------------------------------------*/


.sticky-nav {
	margin: 0 !important;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
	transition: all 0.25s ease;
}

/*--------------------------------------------------------------
## Mobile Only
--------------------------------------------------------------*/

.mobile-only,
.arrow-menu {
	display: none;
}

/*--------------------------------------------------------------
## Left Sidebar
--------------------------------------------------------------*/

.left-sidebar .content-area {
	float: right;
	padding-left: 20px;
	padding-right: 0;
}

.left-sidebar .single-area {
	padding-right: 20px;
}

.left-sidebar .widget-area {
	float: left;
}

.left-sidebar .feature-area .feature-sidebar {
	float: right;
}

.left-sidebar .content-wrap::before {
	left: 0;
}

/*--------------------------------------------------------------
## Left Sidebar
--------------------------------------------------------------*/

.post-wrapper {
	width: 100%;
	column-count: 2;
	margin-bottom: 25px;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.post-wrapper .post-grid:nth-child(odd) {
	margin-right: 1.5%;
}

.post-wrapper .post-grid:nth-child(even) {
	margin-left: 1.5%;
}

.post-wrapper .post-grid {
	transition: box-shadow .25s ease-out;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	box-sizing: border-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
/*	flex: 1 0 auto;*/
	position: relative;
	width: 48.5%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	display: flex;
	overflow: hidden;
}

.post-grid .post-thumbnail {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.post-grid .post-thumbnail a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.post-grid .post-thumbnail a img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.post-grid .post-content {
	padding: 0 5% 5%;
}

